.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
  transition: 0.5s all;
}

.cards :hover {
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .cards {
    max-width: 95%;
    min-width: 85%;
  }
}

@media screen and (min-width: 1300px) {
  .cards {
    max-width: 80%;
    min-width: 60%;
  }
}