.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
}

/*main.cards {
  margin: 0 5% 0 5%;
}*/

@media screen and (min-width: 600px) {
  .cards {
    max-width: 95%;
    min-width: 85%;
  }
}

@media screen and (min-width: 1300px) {
  .cards {
    max-width: 80%;
    min-width: 60%;
  }
}