.card {
  flex-basis: 45%;
  margin: 2%;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  background: #b1e1ed;
  text-align: center;
  height: 200px;
  display: flex-item;
}

.card img {
  width: 30%;
  padding-top: 30px;
}

.card:hover {
  transform: scale(1.1);
}

.card .text {
  font-size: 24px;
  color: #fff;
  transform: none;
  transition: none;
}

.card .text > button {
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

@media (min-width: 600px) {
  .card {
    flex-basis: 40%;
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: 25%;
  }
}

.card1 {
  background: #A9D192;
}

.card2 {
  background: #86D3EC;
}

.card3 {
  background: #EE7B83;
}

.card4 {
  background: #FDB83D;
}

.card5 {
  background: #AEAACF;
}

.card6 {
  background: #B95C66;
}