.item {
  display: inline-block;
  width: calc(100% / 6);
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: normal;
  text-decoration: none !important;
  white-space: nowrap;
  color: white;
  transition: all 2s;
}

.item .item-1 :hover {
   background: green;
}

.mobile-item {
  display: block;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: normal;
  text-decoration: none !important;
  white-space: nowrap;
  color: white;
}

.item-1 {
  background-color: #86D3EC;
}
.item-2 {
  background-color: #AEAACF;
}
.item-3 {
  background-color: #EE7B83;
}
.item-4 {
  background-color: #A9D192;
}
.item-5 {
  background-color: #FAB556;
}
.item-6 {
  background-color: #B95C66;
}

 @media screen and (min-width: 600px){
  .item {
    border-bottom: 0;
    height: 10rem;
    padding: 2px;
  }    
}

@media screen and (min-width: 600px){
  .mobile-menu {
    display: none;
  }
  .toggleMenu {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .menu {
    display: none;
  }

  .toggleMenu {
    margin-top: 100px;
  }
}




