
.cards {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-flow: row wrap;
  align-items: stretch;
  width: 60%;
  align: center;
  margin: 0 auto;
  }
  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background: #5CC6D2;
    text-align: center;
  }
  .card img {
    max-width: 50%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }
