.container-body {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 20px;
  flex: 1 0 auto;
  min-height: 80vh;
}

@media screen and (max-width: 600px) {
  .container-body {
    padding-top: 50px;
  }
}

* {
  font-family: 'Avenir', sans-serif;
}