.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* 1st child */
.footer div:nth-child(1) {
  background-color: yellow;
}

.footer div:nth-child(2) {
  background-color: black;
}

.footer div:nth-child(3) {
  background-color: grey;
}

@media (max-width: 480px) {
  
}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1410px) {

}
