.footer {
  padding: 0;
  color: white;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
}

.footerCore {
  padding: 10px 0 0 0;
  background-color: #58585A;
  position: absolute;
  width: 100%;
}

.footerEmergencyBanner {
  background-color: #5F6062;
  padding: 10px;
}

.footer a {
  color: white;
}

.footerItem {
  display: inline-block;
  padding: 10px;
}

.social {
  float: right;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footerCopyright {
  background-color: #5F6062;
  width: 100%;
  padding: 5px;
}