.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
  margin: 0 auto;
}

.teamPhoto{
  width: 100%;
  padding-bottom: 2rem;
  margin: 0 auto;
  display: block;
}

.aboutMAdaptTeam {
  text-align: center;
}

.bold{
  font-weight: bold;
}

@media screen and (min-width: 600px) {
 
  .aboutContainer {
    width: 80%;
  }

  .teamPhoto {
    width: 65%;
  }
}
