.sf-map-container {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: row;
}

.sf-map-filters {
	left: 0;
	width: 30%;
	height: 100%;
	background-color: pink;
}

.sf-map-view {
	right: 0;
	width: 70%;
	height: 100%;
	background-color: purple;
}

@media screen and (max-width: 600px) {
	.sf-map-container {
		display: flex;
		flex-direction: column;
	}

	.sf-map-filters {
		top: 0;
		width: 100%;
		height: 30%;
		background-color: pink;
	}
	
	.sf-map-view {
		width: 100%;
		height: 70%;
		background-color: purple;
	}
}