.sf-map-container {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: row;
}

.sf-map-sidebar {
	left: 0;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.sf-map-view {
	right: 0;
	width: 60%;
	height: 100%;
}

@media screen and (max-width: 600px) {
	.sf-map-container {
		display: flex;
		flex-direction: column;
	}

	.sf-map-sidebar {
		top: 0;
		width: 100%;
		height: 30%;
	}
	
	.sf-map-view {
		width: 100%;
		height: 70%;
		background-color: purple;
	}
}

#sf-map-input-postcode {
	padding: 10px;
	align-self: center;
	height: 40px;
}

.sf-map-marker {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
}

.sf-map-marker.gp {
	background-color: #6FB2DF;
	background-image: url('/img/icons8-stethoscope.png');
}

.sf-map-marker.pharmacy {
	background-color: #dbd95b;
	background-image: url('/img/icons8-pill.png');
}

.sf-map-marker.hospital {
	background-color: #f3759f;
	background-image: url('/img/icons8-hospital.png');
}

.sf-map-results {
	overflow-y: scroll;
	width: 100%;
	margin-top: 20px;
}

#sf-map-input-submit {
  padding: 10px;
  color: white;
  float: right;
  background-color: #2f444e;
  font-size: 1.5rem;
	border: none;
	width: 40%;
}

#sf-map-input-submit:disabled {
  opacity: 0.3;
}

.sf-map-result-container {
	padding: 10px;
	min-height: 100px;
	width: 100%;
	margin-bottom: 10px;
	background-color: white;
}

.sf-map-result-title {
	font-size: 12pt;
	font-weight: 600;
}

label {
	margin-top: 10px;
}