.nav {
  position: fixed;
  width: 100%;
}

.nav-header {
  width: 100%;
  height: 100px;
  background-color: darkblue;
}

.nav-header-title {
  margin: 0;
  padding: 0;
}

.nav-search {
  height: 50px;
  background-color: lightblue;
}

* {
  border-radius: 0 !important;
}