.nav {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.nav li {
  width: 10%;
}

.nav-header {
  max-height: 100px;
  background-size: cover;
  background: #557F51;
}

.nav-header .nav-header-title {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Courier;
  font-size: 34px;
  font-weight: 600;
}

.nav-header .nav-header-title:hover {
  text-decoration: none;
}

.nav-header .nav-header-title img {
  margin: 5px;
  width: 150px;
}

.language-btn {
  float: right;
  background-color: blue;
}