.nav {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.nav-header {
  height: 70px;
  background: #5e7d53;
}

.nav-header.style-1 {
  background: #5e7d53;
}

.nav-header.style-2 {
  background: #4a7e8f;
}

.nav-header.style-3 {
  background: #8d4349;
}

.nav-header.style-4 {
  background: #926c29;
}

.nav-header.style-5 {
  background: #68637f;
}

.nav-header.style-6 {
  background: #70372c;
}

.nav-header .nav-header-title {
  margin: 0;
  padding: 0;
}

.nav-header .nav-header-title:hover {
  text-decoration: none;
}

.nav-header .nav-header-title img {
  margin: 5px;
  height: 60px;
}

.language-btn {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
  color: white;
  float: right;
  background-color: #2f444e;
  font-size: 1.5rem;
  max-width: 25%;
  border: none;
}

.language-btn:disabled {
  opacity: 0.3;
}